@import '../../sass/basis/fonts';
@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/vars';


.mainWrapper {
    display: grid;
    grid-template-columns: minmax(330px, auto) 1fr minmax(330px, auto);
    grid-auto-rows: minmax(330px, auto);
    .header {
        grid-area: 1/1/2/3;
        width: 100%;
        background-color: $secondaryBg;
        .headerContainer {
            position: relative;
            z-index: 999;
            display: flex;
            justify-content: space-between;
            padding-left: calc(10px + (50 - 10) * ((100vw - 360px) / (1500 - 360)));
            padding-right: calc(10px + (155 - 10) * ((100vw - 360px) / (1500 - 360)));
            .imgHeader {
                z-index: 1;
                padding-top: 170px;
                left: 18%;
            }
            .slider {
                background-image: url('../../assets/img/figure.png');
                background-position: center;
                background-size: cover;
                position: absolute;
                z-index: -1;
                height: 283px;
                width: 343px;
                left: 17%;
                @include flex();
                .slide {
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
            }
        }
    }
    .menuWrapper {
        background-image: url(../../assets/img/designRoom.png);
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
    }
    .potsWrapper {
        background-image: url('../../assets/img/pot.png');
        background-repeat: no-repeat;
        background-position: 45.7% bottom;
        position: relative;
        grid-area: 2/2/3/4;
        background-color: $mainBg;
        .potsContainer {
            padding-left: calc(10px + (55 - 10) * ((100vw - 360px) / (1500 - 360)));
            padding-right: calc(10px + (130 - 10) * ((100vw - 360px) / (1500 - 360)));
        }
    }
    .roomsWrapper {
        grid-area: 3/1/4/4;
        position: relative;
        .sofaImg {
            width: 100%;
            height: 100%;
        }
        .roomsImg {
            position: absolute;
            left: 43%;
            top: 24%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
    .container{
        @include flex($justify-content: space-between, $align-items:stretch);
    }
    .grindlerWrapper{
        background-image: url('../../assets/img/grinder.png');
        background-repeat: no-repeat;
        background-position: 51.6% bottom;
        position: relative;
        grid-area: 4/1/5/3;
        background-color: $mainBg;
        width: 100%;
        .grindlerContainer{
            padding-left: calc(10px + (55 - 10) * ((100vw - 360px) / (1500 - 360)));
            padding-right: calc(10px + (85 - 10) * ((100vw - 360px) / (1500 - 360)));
        }
    }
    .bowlWrapper{
        grid-area: 5/2/6/4;
        width: 100%;
        background-image: url(../../assets/img/plate.png);
        background-position: 45% bottom;
        background-repeat: no-repeat;
        background-size: cover;
        .bowlContainer{
            padding-left: calc(10px + (50 - 10) * ((100vw - 360px) / (1500 - 360)));
            padding-right: calc(10px + (70 - 10) * ((100vw - 360px) / (1500 - 360)));
        }
    }
    .footer{
        grid-area: 6/1/7/4;
        width: 100%;
        background-image: url(../../assets/img/chairs.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .footerContainer{
            align-items: flex-end;
            padding-top: 120px;
            padding-bottom: 80px;
            padding-left: calc(10px + (50 - 10) * ((100vw - 360px) / (1500 - 360)));
            padding-right: calc(10px + (126 - 10) * ((100vw - 360px) / (1500 - 360)));
            .footerImages{
                @include flex($justify-content:flex-start);
                padding-bottom: 45px;
                .footerImg{
                    margin-right: 45px;
                }
            }
            .footerInfo{
                font-family: 'Roboto' , sans-serif;
                color:  #7c7a7a;
                font-size: 16px;
                font-weight: 300;
            }
            .footerLogo{
                @include flexColumn($align-items:center);
                .imgLogo{
                    padding-bottom: 20px;
                }
                .titleLogo{
                    font-family: 'Roboto' , sans-serif;
                    color:  #a7a2a2;
                    font-size: 30px;
                    font-weight: 300;
                }
            }
        }
    }
    .headerContainer,
    .potsWrapper,
    .grindlerWrapper,
    .bowlWrapper{
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
}

@media (min-width: 1181px) and (max-width: 1350px){
    .mainWrapper{
        .headerContainer{
            .imgHeader{
                transform: scale(0.6);
                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                -ms-transform: scale(0.6);
                -o-transform: scale(0.6);
            }
        }
        .potsWrapper {
            background-position: 30% bottom;
        }
        .grindlerWrapper{
            background-position: 35% bottom;
        }
        .bowlWrapper{
            background-position: 75% bottom;
        }
    }   
}

@media screen and (max-width: 1180px){
    .mainWrapper {
        grid-template-columns: repeat(1, minmax(360px, 1fr)) ;
        grid-auto-rows: minmax(330px, 660px);
        .header{
            grid-area: 2/1/3/2;
        }
        .menuWrapper {
            grid-area: 1/1/2/2;
            background-size: auto;
            background-repeat: repeat-x;
        }
        .sevenPots {
            grid-area: 3/1/4/2;
        }
        .potsWrapper{
            grid-area: 4/1/5/2;
        }
        .roomsWrapper{
            grid-area: 5/1/6/2;
        }
        .shakersWrapper{
            grid-area: 6/1/7/2;
        }
        .grindlerWrapper{
            grid-area: 7/1/8/2;
        }
        .authenticsWrapper{
            grid-area: 8/1/9/2;
        }
        .bowlWrapper{
            grid-area: 9/1/10/2;
        }
        .footer{
            grid-area: 10/1/11/2;
        }
    }
}
