@import '../../sass/basis/fonts';
@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/vars';


.wrapper{
    @include flexColumn();
    float: left;
    padding-top: 55px;
    .title{
        font-family: 'Roboto' , sans-serif;
        color:  $colorPrice;
        font-size: 28px;
        font-weight: 100;
        padding-bottom: 15px;
    }
    .subtitle{
        font-family: 'Roboto' , sans-serif;
        color:  $colorPrice;
        font-size: 28px;
        font-weight: 100;
    }
    .linkWrapper{
        display: flex;
        justify-content: center;  
        padding-top: 37px;
        .buttonLike,
        .buttonLikeActive{
            width: 18px;
            height: 18px;
            background-position: center;
            outline: none;
        }
        .buttonLike{
            background: url('../../assets/img/like.png') no-repeat;
            background-position: center center;
        }
        .buttonLikeActive{
            background: url('../../assets/img/likeActive.png') no-repeat;
            background-position: center center;
        }
        .linkDisabled,
        .linkActive{
            font-size: 17px;
            margin-left: 10px;
        }
    }
}